.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 8px;
    gap: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 350px;
}

.searchBoxInput {
    display: flex;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}